<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite">
    <listeners>
        <listener class-name="main.java.utils.SuiteListener"/>
    </listeners>
    <test name="Test Automation">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="test.java.NewInsuranceWithCreditCardTest"></class>
            <class name="test.java.NewInsuranceWithDirectDebitCardTest"></class>
            <class name="test.java.ImportInsurancesSuccessfulTest"></class>
            <class name="test.java.ImportInsurancesFailureTest"></class>
        </classes>
    </test>
</suite>